.news-card {
   padding: 2px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 0px 16px #00000010;
   border: 1px solid #E5E5E5;
   border-radius: 6px;
   opacity: 1;
   margin: 2%;
}

.news-card:hover {
   cursor: pointer;
   box-shadow: 5px 5px 30px #06050510;
   border: 1px solid #dfcbcb;
}


@media only screen and (max-width: 600px) {
   .news-card {
       /* background-color: rgb(43, 176, 221); */
       flex-direction: column-reverse;
   }


}