body {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  border: 2px solid rgb(221, 29, 29);
  background: #FAFAFA 0% 0% no-repeat padding-box;
}
