.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-input {
    border: 1px solid black;
    border-radius: 40px;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    width: 95%;
    margin: 10px;
    font-family: "Press start 2P", cursive;
}

.search-input:focus {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}