.news-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 10px;
}

.headline {
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
    margin-bottom: 5px;
}

.author {
    margin-bottom: 5px;
}

.author-name {
    margin-right: 5px;
}

.image {
    top: 267px;
    left: 858px;
    width: 160px;
    height: 160px;
    background: transparent 0% 0% no-repeat;
    border-radius: 9px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .news-container {
        /* background-color: rgb(43, 176, 221); */
        flex-direction: column-reverse;
    }

    .image {
        width: 100%;
        /* height: 80%; */
        background: transparent 0% 0% no-repeat;
        border-radius: 9px;
    }
    .author{
        display: flex;
        flex-direction: column;
    }

    .first-section {
        margin-top: 5px;
        padding: 0px;
    }
    .content-description{
        display: none;
    }
    .news-container {
        padding: 10px;
    }

}